@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=The+Nautigal:wght@400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/brands.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html {
    scroll-behavior: smooth;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action:  "Mulish", serif;
}

textarea {
    resize: none;
}

.sessao-contato {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.margin {
    display: flex;
    margin: 50% 50%;
    border: solid red 1px;
}

.contato-wrapper {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 900px;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
}

.contato-left {
    width: 35%;
    background: linear-gradient(rgba(15,15,15, .6), rgba(22,22,22, .9)), url(imagens/contato.jpg);
    background-size: cover;
}

.contato-right {
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
    
}

.sessao-contato h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;
    font-weight: lighter;
    
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    outline: none;
    margin: 2rem 0;
}

.input-group textarea {
    padding-top: 1rem;  
}

.field-label {
    position: absolute;
    left: 0;  
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
}

.field:focus {
    border-bottom: 1px solid ;
}

.botao {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    background: #7F00FF;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100%;
}